<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.my.MyApi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="9" 
              android:targetSdkVersion="11"/>
	
    <application
        android:icon="@drawable/splash"
        android:label="@string/app_name" 
        android:theme="@android:style/Theme.NoTitleBar"
        
        >
        <activity
            android:label="@string/app_name"
            android:name=".Screen2" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".profile" >
                   </activity>
                   <activity
            android:label="@string/app_name"
            android:name=".ViewAll" >
                   </activity>
                   <activity
            android:label="@string/app_name"
            android:name=".SearchUser" >
                   </activity>
                   <activity
            android:label="@string/app_name"
            android:name=".ViewUser" >
                   </activity>
                   <activity 
            android:windowSoftInputMode="adjustPan" 
            android:label="@string/app_name"
            android:name=".ViewTitle" >
                   </activity>
                   <activity
            android:label="@string/app_name"
            android:name=".ViewProfile" >
                   </activity>
                   <activity
            android:label="@string/app_name"
            android:name=".Tabview" >
                   </activity>
                    <activity
            android:label="@string/app_name"
            android:name=".Intro" >
                   </activity>
    </application>
</manifest>